.titulo {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.btn {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
}

#root {
    flex-direction: column;
}

.containerCard {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.row {
    width: 75%;
    margin-top: 40px;
}

.hero-frame {
    overflow: hidden;
}

.hero img,.hero{
    object-fit: cover;
    object-position: center;
    height: 70vh;
}

@media (max-width: 576px){
    .hero img,.hero{
        height: 50vh;
    }
}
